.button-theme {
    border-radius: .25rem;
    color: #fff;
    background-color: #041ae2;
    border-color: #041ae2;
}

.border-style-2px {
    margin: auto;
    border: 2px;
    border-color: grey;
    border-radius: 2px;
}

body {
    background-image: url('img/plano_fundo.jpg');
    background-color: #ffffff;
    background-position: center;
    background-size: contain;
}

.card {
    margin: 10px;
}

.container-height {
    height: auto;
}

.font-xilosa {
    font-family: "xilosa";
}

.font-size-8pt {
    font-size: 10pt;
}

@font-face {
    font-family: 'xilosa';
    src: '/fonts/xilosa.ttf'/*Para navegadores Internet Explorer*/
    ;
    font-weight: normal;
    font-style: normal;
}

.hpx450 {
    height: 450px;
}

.hpx144 {
    height: 144;
}

.hpx228 {
    height: 228;
}

.img-user-suges {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.img-margin-0 {
    margin: 0;
}

li {
    list-style-type: none;
}

.margin-left-4 {
    margin-left: 4px;
}

.margin-right-4 {
    margin-right: 4px;
}

.margin-off {
    margin: 0%;
}

.margin-4 {
    margin-right: 4px;
    margin-left: 4px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.margin-10 {
    margin-right: 10px;
    margin-left: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-30 {
    margin-left: 30px;
    ;
}

.margin-right-10 {
    margin-right: 10px;
}

.menu-height {
    height: 50;
}

.padding-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #5a220c;
    border-color: #5a220c
}

.page-link:hover {
    z-index: 2;
    color: #5a220c;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.page-link:focus {
    z-index: 3;
    color: #5a220c;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}

.position-60 {
    position: relative;
}

.page-link {
    position: relative;
    display: block;
    color: darkslategrey;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.sujestoes_receitas {
    border: 2px;
    border-color: darkgrey;
    border-radius: 2%;
}

.w-150 {
    width: 150px;
}

.wf-300 {
    width: 300px;
}

.wf-426 {
    width: 426px;
}

.wf-600 {
    width: 600px;
}

.wf-700 {
    width: 700px;
}

.wf-800 {
    width: 800px;
}

.wf-1000 {
    width: 1000px;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}

.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: black !important;
    border: 1px solid white !important;
    color: white !important;
}