.back-cadeirante {
    background-image: url(".../img/fotos/fundo_cadeirante.jpg");
    background-repeat: no-repeat;
}

.back-blue {
    background-color: rgb(32, 28, 223);
}

.back-white {
    background-attachment: white;
}

.contrast,
.contrast nav,
.contrast div,
.contrast li,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
    background: black !important;
    color: white !important;
}

div.img {
    position: relative;
    width: 480px;
    height: 300px
}

div.img>img {
    width: 100%;
    height: 100%
}

div.img>div {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    top: 50%;
    margin-top: -75px;
    background-color: black;
    width: 50%;
    height: 50%;
    color: #FFF;
}

.h-600 {
    height: 600px;
}

.h-800 {
    height: 800px;
}

#main-banner {
    padding: 0;
    overflow: hidden;
    position: relative;
}

#main-banner-content {
    height: 250px;
    width: 700px;
    float: right;
    margin: 40px 60px;
    background: #555;
}