a,
h5,
button,
h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.pj-link {
    display: block;
    padding: .5rem 1rem;
    color: white;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
}

.pj-link:focus,
.pj-link:hover {
    color: white;
    text-decoration: underline white;
}

.text-color-yellow {
    color: rgb(255, 208, 0);
}

.text-color-write {
    color: white;
}

.text-color-black {
    color: black;
}

.text-bold {
    font-weight: bold;
}

.text-size-11rem {
    font-size: 1.1rem;
}

.text-destaque {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.wb-normal {
    word-break: normal;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
    color: white !important;
}

.contrast a {
    color: yellow !important;
}

.contrast button,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: black !important;
    color: yellow !important;
    border: none !important;
}